@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300&family=Zeyada&display=swap');
:root {
    --box: #b7986f;
}

body {
    background-color: #a5bfce;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.navs {
    background: teal;
    box-shadow: 0px 0px 10px gray;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    margin: auto;
    padding: 0.5rem 2rem;
    background: whitesmoke;
    border-radius: 5px;
}

.nav-item a{
    text-decoration: none;
    color:black;
}

.nav-item:hover{
    background: lightpink;
    border-radius: 5px;
}

h1 {
    font-size: 400%;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    font-family: 'Zeyada', cursive;
    font-size: 200%;
}
em{
    color: #1a6c70;
}

strong {
    color: rgb(110, 62, 110);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 75%;
}

div.mainbox {
    background-color: var(--box);
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 2em;
    border-style: dashed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

iframe {
    background: #206a6e;
    padding: 2em;
    border-radius: 2em;
    margin: auto;
    ;
}
.review {
    display: inline-flex;
    background-color: var(--box);
    flex-direction: column;
    border-radius: 3em;
    margin: 2em;
    padding: 1em;
    width: 30%;
    border-style: dashed;
}

.reviewer-name{
    display: flex;
    font-style: italic;
    justify-content: right;
    padding-right: 2em;
    color: rgb(18, 44, 96);
}

form {
    display: block;
    background-color: var(--box);
    border-style: dashed;
    width: 30%;
    margin: auto;
    border-radius: 2em;
    padding: 2em;
    text-align: left;
}

form>div {
    margin: 1em;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 2px solid;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #d3c395;
}

tr:nth-child(odd) {
    background-color: var(--box);
}

#deleteBtn {
    background-color: rgb(226, 100, 100);
}

.admin-sale-form {
    background-color: rgb(136, 136, 136);
    border-radius: 1em;
    padding: 1em;
    margin: auto;
    width: 30%;
}

#sale-banner {
    background-color: rgb(43, 122, 148);
    border-radius: 10px;
    padding: 1em;
    margin: auto;
    font-size: x-large;
    border-style: solid;
    border-width: 3px;
    border-color: bisque;
    width: 80%;
    color: antiquewhite;
}